body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background: #0f172a;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.btn {
  background: #38bdf8;
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
}

.services, .about, .contact {
  padding: 50px 20px;
  text-align: center;
}

.service-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.service-box div {
  background: #e5e7eb;
  padding: 20px;
  border-radius: 10px;
}

form {
  max-width: 400px;
  margin: auto;
}

input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #0f172a;
  color: white;
  border: none;
  cursor: pointer;
}
